
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 title">
			<h1>Movie Search</h1>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 movieForm">
				<form action="/results" method="get" class="form">
					<input type="search" placeholder="Movie title.." name="movie">
					<input type="submit" value="search">
			    </form>
			</div>
		</div>
	</div>
</div>
