<!doctype html>
<html>
<head>
  <title>Movie Search</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/small.css" media="screen and (max-width:600px)">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
      <%= yield  %>
      <div class="container">
      	<div class="row">
      		<div class="col-xs-12 col-md-12 backgroundImage">
      			<img src="../images/movie_search_index_1.svg"></img>
      		</div>
      	</div>
      </div>
</body>
</html>